@import 'styles/variables';

@import 'styles/common.scss';
@import 'styles/filter.scss';
@import 'styles/header.scss';
@import 'styles/info.scss';
@import 'styles/info-footer.scss';
@import 'styles/normalize.scss';
@import 'styles/thumbs.scss';

body {
  font-size: 16px;
  overflow: hidden;
}

* {
  outline: none;
}

.app-container {
  background-color: rgb(26, 50, 18);
  display: block;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0 5px;
}

.palm-content {
  display: flex;
  flex-direction: row;
}

.palm-content-info-full {
  height: 100%;
}

.palm-page {
  display: block;
  height: 100%;
}
